@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    --ck-color-base-border: #e5e7eb;
}
h1, h2, h3,h4,h5,h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}
h3 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}
h4 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
}
h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}
h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}
i {
    font-style: italic;
}
ul, ol {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
ul {
    list-style-type: disc;
}
ol {
    list-style-type: decimal;
}
li {
    display: list-item;
}

.ck.ck-editor {
    --tw-shadow: 0 1px 3px 0rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0var( --tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.25rem;
    border-width: 1px;
}
.toast-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
}

.toast-wrapper > div {
    position: fixed;
    bottom: 10px;
    right: -100px;
    transition: all .2s linear;
    opacity: 0;
    visibility: hidden;
}

.toast-wrapper > div.visible {
    right: 10px;
    opacity: 1;
    visibility: visible;
}
